@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/* Roboto Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400);

html {
    font-size: 16px;
}

body {
	font-family: 'Avenir', sans-serif;
	background-color: #f7f7f7;
	color: #5A5A5A;
}

ul {
	list-style: none;
}
/*
.spinner {
    display: flex;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid red;
    width: 3rem;
    margin: 2.75rem auto 2rem;
}
*/
#suggestions {
    font-weight: 300;
	padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tier1 {
	font-size: 6em;
	/*line-height: 90%;*/
	padding-bottom: 10px;
	margin: 0;
}

.tier2 {
	font-size: 3.5em;
	padding: 5px;
	opacity: .7;
	margin: 0;
}

.tier3 {
	font-size: 2.0em;
	padding: 0;
	opacity: .5;
	margin: 0;
}

.icon {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin: 2.75rem auto 2rem;
    padding: 12px;
    font-size: 3rem;
    /*height: 3rem;*/
    width: 3rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    transition: all .25s linear;
}

.ion-android-microphone.on {
    color: rgba(190,0,8,1);
    box-shadow: 0 2px 1px #ccc;
    animation: NAME-YOUR-ANIMATION 2s infinite; /* IE 10+, Fx 29+ */
    transition: all .25s linear;
}

hide {
    display: none !important;
}

canvas {
    position: fixed;
}

.wrapper {
    display: flex;
    z-index: -1;
    position: absolute;
    justify-content: center;
    top: 50px;
}


@keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0.7; }
  50%  { opacity: 1; }
  100%   { opacity: 0.7; }
}
